.searchbar {
  &-container {
    background: rgba(0, 0, 0, 0.1);
    width: 80vw;
    height: 48px;
    border-radius: 12px;
  }

  &-input {
    position: relative;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;

    * {
      outline: none;
      background: transparent;
      width: 100%;
    }
  }
}

.font-icon {
  font-size: 96px;
}

.bar-chart {
  fill: purple;
}
